body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    background-color: #25264B;
    height: 5rem;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar h1 {
    letter-spacing: -4px;  /* reduce space between characters */
    font-weight: 100;
    color: white;
    font-size: 2.8rem;

    margin: 0;
    margin-top: -0.1rem;
    padding-left: 6.8rem;
}

.navbar h2 {
    font-weight: 100;
    letter-spacing: -1px;  /* reduce space between characters */
    color: white;
    font-size: 1.4rem;
    font-style: italic;  /* italic */

    margin: 0;
    margin-top: -0.1rem;
    padding-left: 3.2rem;
}

.navbar button {
    background-color: #2D9DCB;
    height: 5rem;
    width: 11.2rem;
    position: absolute;  /* stuck to right edge */
    right: 0;
    margin-top: 0.2rem;
    border: none;

    font-weight: 600;
    color: white;
    font-size: 1.3rem;
    
    font-family: inherit;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        height: 10rem;
        padding-left: 2rem;
        margin-left: 0;
        align-items:baseline;
        justify-content: center;
    }
    .navbar button {
        display: none;
    }
    .navbar h1 {
        padding-left: 0;
        margin-left: 0;
    }
    .navbar h2 {
        padding-left: 0;
        margin-left: 0;
    }
}

.header {
    margin: 0;
    padding: 0;
    background-image: url("assets/top_image_large.png");  /* set image from files as background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 37.25rem;
}

.lorem {
    width: 30rem;
}

.lorem * {
    margin: 0;
    padding: 0;
    color: white;
    margin-left: 6.55rem;
}

.lorem h1 {
    font-size: 3.9rem;
    font-weight: 300;
    letter-spacing: -2px;  /* reduce space between characters */
    padding-top: 4rem;
    line-height: 4.5rem;
}

.lorem p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: -1px;  /* reduce space between characters */
    padding-top: 1.5rem;
    line-height: 2.5rem;
}

.lorem button {
    display: none;
}

.header img {
    display: none;
}

@media (max-width: 800px) {
    .header {
        background-image: none;
        height: 43rem;
    }
    .header img {
        width: 100vw;
        display: block;
    }
    .lorem {
        width: 100vw;
    }
    .lorem * {
        margin-left: 2rem;
        color: #25264B;
        width: calc(100vw - 6rem);
    }
    .lorem h1 {
        font-size: 2.5rem;
        padding-top: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    .lorem p {
        font-size: 1.8rem;
        padding-top: 1rem;
        line-height: 2.5rem;
    }
    .lorem button {
        display:initial;

        background-color: #2D9DCB;
        height: 4.5rem;
        width: 7.5rem;
        margin-top: 1.5rem;
        border: none;
    
        font-weight: 600;
        color: white;
        font-size: 1.3rem;
        
        font-family: inherit;
    }
}

.whoweare {
    width: calc(100vw - 18rem);
    height: 21.5rem;
    margin-top: 2.8rem;
    margin-left: 9rem;
    color: #25264B;
}

.whoweare h1 {
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 1.7rem;
}

.whoweare p {
    font-weight: 300;
    font-size: 1.37rem;
    margin-bottom: 2rem;
}

@media (max-width: 800px) {
    .whoweare {
        width: calc(100vw-4rem);
        height: 35rem;
        margin-top: 2.8rem;
        margin-left: 2rem;
    }
    .whoweare h1 {
        font-size: 2.1rem;
        margin-bottom: 1.7rem;
    }
    .whoweare p {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        width: calc(100vw - 6rem);
    }
}

.video {
    background-color: #25264B;
    width: 100vw;
    height: 54rem;
}

.video img {
    margin-top: 5.7rem;
    margin-left: 4.8rem;

    width: calc(100vw - 9.6rem);
}

/* media query */
@media (max-width: 800px) {
    .video {
        height: 33rem;
    }
    .video img {
        padding-top: 3.5rem;
        margin-left: 2rem;
        width: calc(100vw - 4rem);
    }
}


.customtech h1 {
    /* center text */
    text-align: center;
    font-weight: 600;
    font-size: 1.9rem;
    margin: 5rem 0;
    color: #25264B;
}

.customtech .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap */
}

.customtech .cards * {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
}

.customtech .cards * h2 {
    font-weight: 300;
    color: #25264B;
    margin-top: 2.5rem;
}

.customtech .cards * p {
    font-weight: 300;
    font-size: 1.37rem;
    margin-top: 1rem;
    color: #3C3C3C;
    width: 18.5rem;
}

.customtech .cards * img {
    width: 20rem;
}

.customtech .cards * button {
    background-color: #2D9DCB;
    letter-spacing: 1px;
    height: 3.5rem;
    width: 9rem;
    border: none;
    margin-top: 2rem;

    font-weight: 300;
    color: white;
    font-size: 0.8rem;
    align-items: center;
    /* vertically align text */
    display: flex;
    justify-content: center;
}

.customtech {
    padding-bottom: 5rem;
}

@media(max-width: 800px) {
    .customtech .cards {
        flex-direction: column;
        width: 100vw;
        gap: 4rem;
    }
    .customtech .cards * {
        width: 100vw;
    }
    .customtech .cards * img {
        width: 100vw;
    }
    .customtech .cards * h2 {
        width: 100vw;
        margin-left: 2rem;
    }
    .customtech .cards * p {
        width: 100vw;        
        margin-left: 2rem;
    }

    .customtech .cards * button {
        font-weight: 600;
        color: white;
        font-size: 1rem;
        
        font-family: inherit;
    }

}


.reasons {
    background-color: #2A648A;
    width: 100vw;
    height: 51rem;

    color: white;
    background-image: url("assets/flourish.png"); 
    /* move background image a bit to the right */
    background-position: 100% 0;

    /* shrink background image a bit */
    background-size: 90%;
    background-repeat: no-repeat;
}

.reasons .icon {
    /* center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4.5rem;
    height: auto;

    transform: translateY(5rem);
}

.reasons h2 {
    /* center text */
    text-align: center;
    font-weight: 600;
    font-size: 1.9rem;
    margin-top: 5rem;
}

.reasons .flex {
    display: flex;
    flex-direction: row;
    /* gap */
    gap: 12rem;
    
    /* center flex contents */
    justify-content: center;
}

.reasons .flex .column {
    font-size: 1.30rem;
    max-width: 30rem;
}

@media (max-width: 800px) {
    .reasons .flex {
        flex-direction: column;
        gap: 4rem;
    }
}

.about {
    width: 100vw;
    height: 54rem;
    color: #7E8082;
}

.about .flex {
    display: flex;
    flex-direction: row;
    /* gap */
    gap: 7rem;
    margin-left: -4rem;
    margin-top: 3.5rem;
    justify-content: center;

}

.about .flex * {
    font-size: 1.35rem;
    width: 32.3rem;
    width: calc((100vw - 20rem)/2 - 3rem);
}

.about .flex * h2 {
    font-weight: 600;
    font-size: 1.9rem;
    margin-top: 5rem;
    color: #25264B;
}

.about .flex .column ul {
    transform: translateX(-0.8rem);
}

.about .flex .column ul li {
    padding-bottom: 1rem;
}

.about .flex * h3 {
    font-weight: 400;
}

@media (max-width: 1100px) {
    .about {
        height: 70rem;
    }
    .about .flex {
        margin-left: 0rem;
        padding-left: 1rem;
        flex-direction: column;
        gap: 1rem;
    }
    .about .flex * {
        margin-left: 0rem;
        padding-left: 0rem;
        width: calc(100vw - 4rem);
    }
    .about .flex .column * {
        margin-left: 0rem;
        padding-left: 0rem;
        margin-top: 0;
        width: calc(100vw - 4rem);
    }
    .about .flex .column ul {
        transform: translateX(1.5rem);
        width: calc(100vw - 4rem);
    }
}

.shipping {
    background-color: #FEF9F7;
    width: 100vw;
    height: 30rem;
    color: #25264B;
    background-image: url("assets/shipping_icon_large.png");

    background-repeat: no-repeat;

    /* reduce size of the background image */
    background-size: 23%;

    /* move background image a bit down */
    background-position: -5.5% 81%;
}

.shipping h2 {
    font-weight: 600;
    font-size: 1.8rem;
    padding-top: 6.5rem;
    margin-left: 20rem;
}

.shipping .flex {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    margin-left: 20rem;

    font-size: 1.37rem;
    color:#3C3C3C;
    justify-content: center;

}

.shipping .flex .column {
    width: calc((100vw - 20rem)/2 - 3rem);
}

.top {
    /* stick to right side of screen */
    position: absolute;
    right: 0;
    width: 6rem;
}

@media (max-width: 800px) {
    .shipping {
        height: 40rem;
    }
    .shipping h2 {
        margin-left: 0rem;
        padding-top: 3rem;
        font-size: 1.5rem;
    }
    .shipping .flex {
        margin-left: 0rem;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.2rem;
    }
    .shipping .flex .column {
        width: calc(100vw - 4rem);
    }
    .shipping .flex .column ul {
        transform: translateX(1.5rem);
        width: calc(100vw - 4rem);
    }
    .shipping .flex .column * {
        margin-left: 0rem;
        padding-left: 0rem;
        margin-top: 0;
        width: calc(100vw - 4rem);
    }
    .shipping .flex .column ul {
        transform: translateX(1.5rem);
        width: calc(100vw - 4rem);
    }
    .shipping .flex .column * {
        margin-left: 0rem;
        padding-left: 0rem;
        margin-top: 0;
        width: calc(100vw - 4rem);
    }
}

.contact {
    background-color: #2A648A;
    width: 100vw;
    height: 38rem;
    color: white;
}

.contact h2 {
    /* center text */
    text-align: center;
    font-weight: 600;
    font-size: 1.9rem;
    padding-top: 10rem;
    /* decrease width */
    width: 30rem;
    /* center */
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.contact p {
    /* center text */
    text-align: center;
    font-weight: 300;
    font-size: 1.37rem;
    margin-top: 1rem;

    /* decrease width */
    width: 30rem;
    /* center */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.contact button {
    background-color: #2D9DCB;
    letter-spacing: 1px;
    height: 3.5rem;
    border: none;
    margin-top: 2rem;

    font-weight: 300;
    color: white;
    font-size: 0.8rem;
    align-items: center;
    /* vertically align text */
    display: flex;
    justify-content: center;

    /* decrease width */
    width: 11rem;
    /* center */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {

}

.footer {
    background-color: #25264B;
    width: 100vw;
    height: 7rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    

    /* thin white border on top */
    border-top: 1px solid white;
}

.footer p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-0.5rem);
}

